<%- include('partials/header'); %>

<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">You discover secrets page</h1>
        <p class="lead mt-4">Now You can read secrers or share your own one 😎</p>
        <hr class="my-4">
    </div>
</div>

<div class="container mt-5">
    <% for(let i = 0; i < 4; i++ ) { %>
    <div class="card mb-5">
        <div class="card-header">
            Quote
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
        </div>
    </div>
    <% } %>
</div>


<%- include('partials/footer'); %>